@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), "__DM_Sans_Fallback_afecb8", sans-serif;
}

:root {
  --font-primary: "_DM_Sans_afecb8", "__DM_Sans_Fallback_afecb8", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
